<!DOCTYPE html>
<html>
<head>
<title>MyRubyStore</title>

 <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
 
 
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <%= csrf_meta_tags %>

</head>

<body >

<div class="Main-Header">

				<ul class="nav nav-tabs" > 
				    <li><%= link_to "Home",root_path%> </li>
					<li> <%= link_to "Teams",page_teams_path%>  </li>
					<li> <%= link_to "Leagues",page_leagues_path%> </li>
					<li> <%= link_to "Fixtures",page_fixtures_path%>  </li>
					<li> <%= link_to "Feautures",page_features_path%>  </li>
				    <li><%= link_to "Posts", posts_path%> </li>
				    <li><%= link_to "Contacts",root_path%> </li>
				    <li><%= link_to "Resources",root_path%> </li>
			        <li><%= link_to "References",root_path%> </li>
			        <li><%= link_to "login",root_path%> </li>
			        <li><%= link_to "Sign up",root_path%> </li>
					<li> <h4 style="color: green; text-align: center">FOOTBALLVIBES.com</h4></li>
				</ul>
			
</div>


<div id="page-wrap">
    <!-- all websites HTML here -->
  


	<%= yield %>
</div>
	

</body>
</html>
