<!DOCTYPE html>
<html>
<head>
<title>MyRubyStore</title>

 <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
 
 
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <%= csrf_meta_tags %>

</head>

<body >

<div id="page-wrap">

<div class="Main-Header">

				<ul class="nav nav-tabs" > 
				    <li><%= link_to "Home",root_path%> </li>
					<li> <%= link_to "Teams",page_teams_path%>  </li>
	
					<li> <%= link_to "Fixtures",page_fixtures_path%>  </li>
		
				    <li><%= link_to "Posts", posts_path%> </li>
		

				    <% if current_user %>
			       		 <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %> </li>
			       	<%else%>

			       		 <li><%= link_to "Sign up", new_user_registration_path %> </li>
			       	     <li><%= link_to "Sign in", new_user_session_path %> </li>

			       	<%end%>
			     
					<li> <h5 style="color: green; text-align: center">FOOTBALLVIBES.com</h5></li>
				</ul>



			
</div>

	<p class="notice"><%= notice %></p>
	<p class="notice"><%= alert %></p>

    <!-- all websites HTML here -->
  


	<%= yield %>
</div>
	

</body>
</html>
